{% extends "layout.html" %}
{% block content %}

<h3>
    <center>Information about the current system</center>
</h3>
<div>
    <iframe style="width:90% ;height:1200"
        src="https://datastudio.google.com/embed/reporting/fb8cf6ba-68fd-4197-8c71-c68cd78b6d87/page/36RUB"
        frameborder="0" style="border:0" allowfullscreen></iframe>

    <iframe style="width:90% ;height:700"
        src="https://datastudio.google.com/embed/reporting/ffd0a8d6-41af-4916-a2d4-d0a0e0d2fa97/page/CMSUB"
        frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

{% endblock content %}