{% extends "maps.html" %}
{% block heading %}
<h3 align="center">Car Location</h3>
{% endblock heading %}
{% block mapcontent %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">actions</th>
            <th scope="col">ID</th>
            <th scope="col">make</th>
            <th scope="col">body type</th>
            <th scope="col">colour</th>
            <th scope="col">locked</th>
            <th scope="col">latitude</th>
            <th scope="col">longitude</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <a class="" href="{{ url_for('main.one_car', car_id=car.id) }}">
                    view
            </a>
        <th scope="row">{{ car.id }}</th>
        <td>{{ car.make }}</td>
        <td>{{ car.body_type }}</td>
        <td>{{ car.colour }}</td>
        <td>{{ car.locked }}</td>
        <td>{{ car.lat }}</td>
        <td>{{ car.lng }}</td>
    </tr>
</table>
{% endblock mapcontent %}